<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configSource="ConnectionStrings.config">
  </connectionStrings>

  <appSettings file="AppSettingsSecrets.config">
    <add key="ConnectionStringName" value="test" />
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
