body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
    background-color: #1F0E2D !important;
    color: #000000;
}
.btn-success {
    background-color: #409E59;
    border-color: #058E8A;
}
    .btn-success:hover {
        background-color: #63B566;
    }
.btn-danger{
    background-color: firebrick;
}
div ul.nav.navbar-nav li a{
    color:aliceblue;
}
a.navbar-brand{
    color: aliceblue !important;
}
div#createButton a {
 
    margin-left: 15%;
}
a#downloadLink{
    font-family:Arial;

}

