@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

 
    <h3>Coupon Dispenser</h3> is a tool to distribute single-use discount codes to buyers of products.
    <br />
    <br />
    <h3 id="howItWorks">How it Works</h3>
    <br />
    <ul>
    <li>Sellers register and create offers, and add discount codees for each offer.</li>
    <li>
        Buyers sign up for offers and get a discount code.
    </li>
    <li>
        Sellers promote their products and build email lists of buyers.
    </li>
    </ul>
    <br />
    <br />
    <h3 id="features">Features</h3>
    <br />
<ul>
    <li>
        System supports single seller company or multiple sellers.
        </li>
    <li>
        Email confirmation assures real, interested buyers.
        </li>
    <li>
        JSON API for accessing the discount code distribution tool from any landing page.
        </li>
        </ul>
        <br />
        <br />
        <h3 id="webHosting">Web Hosting</h3>
    <ul>
        <li>
        Easily host site from Microsoft Azure cloud platform.
            </li>
    </ul>

