@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Coupon Dispenser is a tool to distribute single-use discount codes to buyers of products.</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How it Works</h2>
        <p>
            Sellers register and create offers, and add discount codees for each offer. Buyers sign up for offers and get a discount code. Sellers promote their products and build email lists of buyers.
            
        </p>
        <p><a class="btn btn-default" href="Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <p>System supports single seller company or multiple sellers. Email confirmation assures real, interested buyers. JSON API for accessing the discount code distribution tool from any landing page.</p>
        <p><a class="btn btn-default" href="Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Easily host site from Microsoft Azure cloud platform.</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us">Learn more &raquo;</a></p>
    </div>
</div>