@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Coupon Dispenser is a tool to distribute single-use discount codes to buyers of products.</p>
    <p>@Html.ActionLink("Learn more...", "About", "Home", null, new {@class="btn btn-primary"})</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>How it Works</h2>
        <ul><li>
                 Sellers register and create offers, and add discount codees for each offer.
            </li>
            <li>
                Buyers sign up for offers and get a discount code.
            </li>
            <li>
                Sellers promote their products and build email lists of buyers.
            </li>
            
        </ul>
        <p><a class="btn btn-default" href="About#howItWorks">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <ul>
            <li>
                System supports single seller company or multiple sellers.
            </li>
            <li>
                Email confirmation assures real, interested buyers.
            </li>
            <li>
                JSON API for accessing the discount code distribution tool from any landing page.
            </li>
            </ul>
        <p><a class="btn btn-default" href="About#features">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <ul><li>
            Easily host site from Microsoft Azure cloud platform.
            </li></ul>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us">Learn more &raquo;</a></p>
    </div>
</div>