


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offers</title>
</head>
<body>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Create", "Create", "Offer", null, new {@class = "btn btn-success" })
        </div>
    </div>
    <div> 
        <p>Your offers:</p>
    </div>
   
</body>
</html>
